/*响应式布局样式*/

@media (max-width: 767px) {
    /*在小于768像素的屏幕里,这里的样式才生效*/
    body {
        font-size: 101% !important;
        padding: 0 !important;
        line-height: 1.75 !important;;
    }

    .left-side {
        display: none;
    }

    .right-side {
        display: none;
    }
    
    .center-content {
        width: 100% !important;
        padding: 0 !important;
        border-left: 0px outset #e8e8e8 !important;
    }
    .kl-container {
        padding: 0 !important;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    /*在768和991像素之间的屏幕里,这里的样式才生效*/
    body {
        font-size: 100% !important;
        line-height: 1.65 !important;;
    }

    .left-side {
        float: left !important;
        width: 18%;
        padding-left: 10px;
        padding-right: 10px;
        overflow-x: visible;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        -webkit-overflow-scrolling: touch;
    }

        .left-side .nav {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            display: block;
        }

    .right-side {
        display: none;
    }

    .center-content {
        float: left;
        width: 82%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /*在992和1199像素之间的屏幕里,这里的样式才生效*/
    body {
        font-size: 101% !important;
        line-height: 1.6 !important;;
    }

    .left-side {
        float: left !important;
        width: 20%;
        padding-left: 10px;
        padding-right: 10px;
    }

   .right-side {
        display: none;
    }

    .center-content {
        float: left;
        width: 80%;
    }
}

@media (min-width: 1200px) and (max-width: 1479px) {
    /*在大于1200像素的屏幕里,这里的样式才生效*/
    body {
        font-size: 102% !important;
        line-height: 1.6 !important;;
    }

    .left-side {
        float: left !important;
        width: 15%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .center-content {
        float: left;
        width: 65%;
    }

      .right-side {
        display: block;
        float: right;
        width: 20%;
        height: 100%;
    }
}

@media (min-width: 1480px) {
    /*在大于1480像素的屏幕里,这里的样式才生效*/
    body {
        font-size: 103% !important;;
        line-height: 1.55 !important;;
    }

    .left-side {
        float: left !important;
        width: 15%;
    }


    .center-content {
        float: left;
        width: 65%;
    }

    .right-side {
        display: block;
        float: right;
        width: 20%;
        height: 100%;
    }
}
