<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.klfront.klcms.dao.UserDao">

	<select id="findByUsername" resultType="User" parameterType="String">
		select id,username,nickname,password,email from user where username=#{username};
	</select>


</mapper>
 

